{% extends 'base.html' %}
{% block content %}
<div class="tile-area fg-white tile-area-scheme-dark">
	<style>
		path { 
			stroke-width: 2;
			fill: none;
		}
	
		.axis path,
		.axis line {
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;
		}
	
		.legend {
			font-size: 16px;         
			font-weight: bold;         
			text-anchor: start;
			}
	</style>
	<h1 class="tile-area-title">index</h1>
	<div class="tile-area-controls">
		<a class="image-button bg-cyan fg-white bg-hover-dark no-border" href='/Temperatures/'>toPageOne</a>
	</div>
	<div class="tile-group">
		<span class="tile-group-title">General</span>
		<div class="tile-container">
		</div>
	</div>
</div>
{% endblock %}
