{% extends 'base.html' %}
{% block content %}
<div class="tile-area fg-white tile-area-scheme-dark">
	<style>
		path { 
			stroke-width: 2;
			fill: none;
		}
	
		.axis path,
		.axis line {
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;
		}
	
		.legend {
			font-size: 16px;         
			font-weight: bold;         
			text-anchor: start;
			}
	</style>
	<h1 class="tile-area-title">pageOne</h1>
	<div class="tile-area-controls">
		<a class="image-button bg-emerald fg-white bg-hover-dark no-border" href='/index/'>HomePage</a>
		<a class="image-button bg-mauve fg-white bg-hover-dark no-border" href='/index/'>Room1</a>
		<a class="image-button bg-green fg-white bg-hover-dark no-border" href='/index/'>Room2</a>
		<a class="image-button bg-lightOrange fg-white bg-hover-dark no-border" href='/index/'>Room3</a>
		<a class="image-button bg-orange fg-white bg-hover-dark no-border" href='/index/'>Room4</a>
		<a class="image-button bg-lightTeal fg-white bg-hover-dark no-border" href='/index/'>Room5</a>
		<a class="image-button bg-green fg-white bg-hover-dark no-border" href='/index/'>CO2</a>
		<a class="image-button bg-pink fg-white bg-hover-dark no-border" href='/index/'>PIR</a>
	</div>
	<div class="tile-group">
		<span class="tile-group-title">General</span>
		<div class="tile-container">
		</div>
	</div>
</div>
{% endblock %}
