{% extends 'base.html' %}
{% block content %}
<div class="tile-area fg-white tile-area-scheme-dark">
	<style>
		path { 
			stroke-width: 2;
			fill: none;
		}
	
		.axis path,
		.axis line {
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;
		}
	
		.legend {
			font-size: 16px;         
			font-weight: bold;         
			text-anchor: start;
			}
	</style>
	<h1 class="tile-area-title">pageOne</h1>
	<div class="tile-area-controls">
		<a class="image-button bg-lime fg-white bg-hover-dark no-border" href='/index/'>toHomePage</a>
	</div>
	<div class="tile-group">
		<span class="tile-group-title">General</span>
		<div class="tile-container">
			<div class="tile-large bg-lime fg-white">
				<div class="tile-content chart" id="testGraph" data-graph-content="{{graph_data_testGraph}}" onclick="repainttestGraph()">
				</div>
				<span class="tile-label">testGraph<span>
			</div>
			<script type="text/javascript">
			
						function painttestGraph(){
						console.log("chart script start");
						var width = $("#testGraph").parent().width();
						var height = $("#testGraph").parent().height();
						var margin = {top: (height/100)*10, 
							right: (width/100)*5, 
							bottom: (height/100)*10, 
							left: (width/100)*15};
			
						width +=- margin.left - margin.right;
						height += - margin.top - margin.bottom;
						
						data = $("#testGraph").data().graphContent.split("'").join('"');
						jsonData = JSON.parse(data)
						
						dates = []
						data = []
						$.each(jsonData, function(key, values) {
							result = []
							for( var i = 1; i < values.length; i++ ){
								var currentline=values[i];
								var obj = {date: new Date(currentline[0]), value: currentline[1]}
								dates.push(obj.date);
								result.push(obj);
							}
							data.push({
								name: key,
								values: result});
						});
						
						var x = d3.time.scale()
						    .range([0, width]);
						
						var y = d3.scale.linear()
						    .range([height, 0]);
						
						var color = d3.scale.category10();
						
						var xAxis = d3.svg.axis()
						    .scale(x)
						    .orient("bottom")
						    .ticks(4);
						
						var yAxis = d3.svg.axis()
						    .scale(y)
						    .orient("left");
						
						var line = d3.svg.line()
						    .interpolate("basis")
						    .x(function(d) { return x(d.date); })
						    .y(function(d) { return y(d.value); });
						
						var svg = d3.select("#testGraph").append("svg")
						    .attr("width", width + margin.left + margin.right)
						    .attr("height", height + margin.top + margin.bottom)
						  .append("g")
						    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
						
						color.domain(d3.keys(Object.keys(jsonData)))
						
						x.domain(d3.extent(dates, function(d) { return d; }));
						
						y.domain([
							d3.min(data, function(d) { return d3.min(d.values, function(v) { return v.value; }); }),
							d3.max(data, function(d) { return d3.max(d.values, function(v) { return v.value; }); })
						]);
						
						svg.append("g")
						      .attr("class", "x axis")
						      .attr("transform", "translate(0," + height + ")")
						      .call(xAxis);
						
						svg.append("g")
								.attr("class", "y axis")
								.call(yAxis)
							.append("text")
								.attr("transform", "rotate(-90)")
								.attr("y", 6)
								.attr("dy", ".71em")
								.style("text-anchor", "end")
								.text("Value");
						
						var lines = svg.selectAll(".valueLine")
								.data(data)
							.enter().append("g")
								.attr("class", ".valueLine")
						
						lines.append("path")
							.attr("class", "line")
							.attr("d", function(d) { return line(d.values); })
							.style("stroke", function(d) { return color(d.name); })
						
					}
					
					function repainttestGraph(){
						var divObj = $("#testGraph").parent()[0];
						var className = divObj.className;
						if(className.indexOf("large") > -1){
							className = className.replace("large", "big");
						}else{
							className = className.replace("big", "large");
						}
						divObj.className = className;
						$("#testGraph")[0].innerHTML = '';
						painttestGraph();
					}
					
					painttestGraph();
			</script>
			<div class="tile-large bg-emerald fg-white">
				<div class="tile-content chart" id="testGraph2" data-graph-content="{{graph_data_testGraph2}}" onclick="repainttestGraph2()">
				</div>
				<span class="tile-label">testGraph2<span>
			</div>
			<script type="text/javascript">
			
						function painttestGraph2(){
						console.log("chart script start");
						var width = $("#testGraph2").parent().width();
						var height = $("#testGraph2").parent().height();
						var margin = {top: (height/100)*10, 
							right: (width/100)*5, 
							bottom: (height/100)*10, 
							left: (width/100)*15};
			
						width +=- margin.left - margin.right;
						height += - margin.top - margin.bottom;
						
						data = $("#testGraph2").data().graphContent.split("'").join('"');
						jsonData = JSON.parse(data)
						
						dates = []
						data = []
						$.each(jsonData, function(key, values) {
							result = []
							for( var i = 1; i < values.length; i++ ){
								var currentline=values[i];
								var obj = {date: new Date(currentline[0]), value: currentline[1]}
								dates.push(obj.date);
								result.push(obj);
							}
							data.push({
								name: key,
								values: result});
						});
						
						var x = d3.time.scale()
						    .range([0, width]);
						
						var y = d3.scale.linear()
						    .range([height, 0]);
						
						var color = d3.scale.category10();
						
						var xAxis = d3.svg.axis()
						    .scale(x)
						    .orient("bottom")
						    .ticks(4);
						
						var yAxis = d3.svg.axis()
						    .scale(y)
						    .orient("left");
						
						var line = d3.svg.line()
						    .interpolate("basis")
						    .x(function(d) { return x(d.date); })
						    .y(function(d) { return y(d.value); });
						
						var svg = d3.select("#testGraph2").append("svg")
						    .attr("width", width + margin.left + margin.right)
						    .attr("height", height + margin.top + margin.bottom)
						  .append("g")
						    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
						
						color.domain(d3.keys(Object.keys(jsonData)))
						
						x.domain(d3.extent(dates, function(d) { return d; }));
						
						y.domain([
							d3.min(data, function(d) { return d3.min(d.values, function(v) { return v.value; }); }),
							d3.max(data, function(d) { return d3.max(d.values, function(v) { return v.value; }); })
						]);
						
						svg.append("g")
						      .attr("class", "x axis")
						      .attr("transform", "translate(0," + height + ")")
						      .call(xAxis);
						
						svg.append("g")
								.attr("class", "y axis")
								.call(yAxis)
							.append("text")
								.attr("transform", "rotate(-90)")
								.attr("y", 6)
								.attr("dy", ".71em")
								.style("text-anchor", "end")
								.text("Value");
						
						var lines = svg.selectAll(".valueLine")
								.data(data)
							.enter().append("g")
								.attr("class", ".valueLine")
						
						lines.append("path")
							.attr("class", "line")
							.attr("d", function(d) { return line(d.values); })
							.style("stroke", function(d) { return color(d.name); })
						
					}
					
					function repainttestGraph2(){
						var divObj = $("#testGraph2").parent()[0];
						var className = divObj.className;
						if(className.indexOf("large") > -1){
							className = className.replace("large", "big");
						}else{
							className = className.replace("big", "large");
						}
						divObj.className = className;
						$("#testGraph2")[0].innerHTML = '';
						painttestGraph2();
					}
					
					painttestGraph2();
			</script>
			<div class="tile-large bg-darkBlue fg-white">
				<div class="tile-content chart" id="testGraph3" data-graph-content="{{graph_data_testGraph3}}" onclick="repainttestGraph3()">
				</div>
				<span class="tile-label">testGraph3<span>
			</div>
			<script type="text/javascript">
			
						function painttestGraph3(){
						console.log("chart script start");
						var width = $("#testGraph3").parent().width();
						var height = $("#testGraph3").parent().height();
						var margin = {top: (height/100)*10, 
							right: (width/100)*5, 
							bottom: (height/100)*10, 
							left: (width/100)*15};
			
						width +=- margin.left - margin.right;
						height += - margin.top - margin.bottom;
						
						data = $("#testGraph3").data().graphContent.split("'").join('"');
						jsonData = JSON.parse(data)
						
						dates = []
						data = []
						$.each(jsonData, function(key, values) {
							result = []
							for( var i = 1; i < values.length; i++ ){
								var currentline=values[i];
								var obj = {date: new Date(currentline[0]), value: currentline[1]}
								dates.push(obj.date);
								result.push(obj);
							}
							data.push({
								name: key,
								values: result});
						});
						
						var x = d3.time.scale()
						    .range([0, width]);
						
						var y = d3.scale.linear()
						    .range([height, 0]);
						
						var color = d3.scale.category10();
						
						var xAxis = d3.svg.axis()
						    .scale(x)
						    .orient("bottom")
						    .ticks(4);
						
						var yAxis = d3.svg.axis()
						    .scale(y)
						    .orient("left");
						
						var line = d3.svg.line()
						    .interpolate("basis")
						    .x(function(d) { return x(d.date); })
						    .y(function(d) { return y(d.value); });
						
						var svg = d3.select("#testGraph3").append("svg")
						    .attr("width", width + margin.left + margin.right)
						    .attr("height", height + margin.top + margin.bottom)
						  .append("g")
						    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
						
						color.domain(d3.keys(Object.keys(jsonData)))
						
						x.domain(d3.extent(dates, function(d) { return d; }));
						
						y.domain([
							d3.min(data, function(d) { return d3.min(d.values, function(v) { return v.value; }); }),
							d3.max(data, function(d) { return d3.max(d.values, function(v) { return v.value; }); })
						]);
						
						svg.append("g")
						      .attr("class", "x axis")
						      .attr("transform", "translate(0," + height + ")")
						      .call(xAxis);
						
						svg.append("g")
								.attr("class", "y axis")
								.call(yAxis)
							.append("text")
								.attr("transform", "rotate(-90)")
								.attr("y", 6)
								.attr("dy", ".71em")
								.style("text-anchor", "end")
								.text("Value");
						
						var lines = svg.selectAll(".valueLine")
								.data(data)
							.enter().append("g")
								.attr("class", ".valueLine")
						
						lines.append("path")
							.attr("class", "line")
							.attr("d", function(d) { return line(d.values); })
							.style("stroke", function(d) { return color(d.name); })
						
					}
					
					function repainttestGraph3(){
						var divObj = $("#testGraph3").parent()[0];
						var className = divObj.className;
						if(className.indexOf("large") > -1){
							className = className.replace("large", "big");
						}else{
							className = className.replace("big", "large");
						}
						divObj.className = className;
						$("#testGraph3")[0].innerHTML = '';
						painttestGraph3();
					}
					
					painttestGraph3();
			</script>
			<div class="tile-large bg-indigo fg-white">
				<div class="tile-content chart" id="testGraph4" data-graph-content="{{graph_data_testGraph4}}" onclick="repainttestGraph4()">
				</div>
				<span class="tile-label">testGraph4<span>
			</div>
			<script type="text/javascript">
			
						function painttestGraph4(){
						console.log("chart script start");
						var width = $("#testGraph4").parent().width();
						var height = $("#testGraph4").parent().height();
						var margin = {top: (height/100)*10, 
							right: (width/100)*5, 
							bottom: (height/100)*10, 
							left: (width/100)*15};
			
						width +=- margin.left - margin.right;
						height += - margin.top - margin.bottom;
						
						data = $("#testGraph4").data().graphContent.split("'").join('"');
						jsonData = JSON.parse(data)
						
						dates = []
						data = []
						$.each(jsonData, function(key, values) {
							result = []
							for( var i = 1; i < values.length; i++ ){
								var currentline=values[i];
								var obj = {date: new Date(currentline[0]), value: currentline[1]}
								dates.push(obj.date);
								result.push(obj);
							}
							data.push({
								name: key,
								values: result});
						});
						
						var x = d3.time.scale()
						    .range([0, width]);
						
						var y = d3.scale.linear()
						    .range([height, 0]);
						
						var color = d3.scale.category10();
						
						var xAxis = d3.svg.axis()
						    .scale(x)
						    .orient("bottom")
						    .ticks(4);
						
						var yAxis = d3.svg.axis()
						    .scale(y)
						    .orient("left");
						
						var line = d3.svg.line()
						    .interpolate("basis")
						    .x(function(d) { return x(d.date); })
						    .y(function(d) { return y(d.value); });
						
						var svg = d3.select("#testGraph4").append("svg")
						    .attr("width", width + margin.left + margin.right)
						    .attr("height", height + margin.top + margin.bottom)
						  .append("g")
						    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
						
						color.domain(d3.keys(Object.keys(jsonData)))
						
						x.domain(d3.extent(dates, function(d) { return d; }));
						
						y.domain([
							d3.min(data, function(d) { return d3.min(d.values, function(v) { return v.value; }); }),
							d3.max(data, function(d) { return d3.max(d.values, function(v) { return v.value; }); })
						]);
						
						svg.append("g")
						      .attr("class", "x axis")
						      .attr("transform", "translate(0," + height + ")")
						      .call(xAxis);
						
						svg.append("g")
								.attr("class", "y axis")
								.call(yAxis)
							.append("text")
								.attr("transform", "rotate(-90)")
								.attr("y", 6)
								.attr("dy", ".71em")
								.style("text-anchor", "end")
								.text("Value");
						
						var lines = svg.selectAll(".valueLine")
								.data(data)
							.enter().append("g")
								.attr("class", ".valueLine")
						
						lines.append("path")
							.attr("class", "line")
							.attr("d", function(d) { return line(d.values); })
							.style("stroke", function(d) { return color(d.name); })
						
					}
					
					function repainttestGraph4(){
						var divObj = $("#testGraph4").parent()[0];
						var className = divObj.className;
						if(className.indexOf("large") > -1){
							className = className.replace("large", "big");
						}else{
							className = className.replace("big", "large");
						}
						divObj.className = className;
						$("#testGraph4")[0].innerHTML = '';
						painttestGraph4();
					}
					
					painttestGraph4();
			</script>
		</div>
	</div>
</div>
{% endblock %}
