/.Postcompile.java._trace
/.Postcompile.xtendbin
/.Precompile.java._trace
/.Precompile.xtendbin
/.TileColor.java._trace
/.TileColor.xtendbin
/.VizualizerGenerator.java._trace
/.VizualizerGenerator.xtendbin
/Postcompile.java
/Precompile.java
/TileColor.java
/VizualizerGenerator.java
