/.VizualizerDescriptionLabelProvider.java._trace
/.VizualizerDescriptionLabelProvider.xtendbin
/.VizualizerLabelProvider.java._trace
/.VizualizerLabelProvider.xtendbin
/VizualizerDescriptionLabelProvider.java
/VizualizerLabelProvider.java
